{% extends 'base.html' %}

{% block title %}
My Compaigns
{% endblock %}
{% block blog %}

<style>
    td,
    th {
        vertical-align: middle;
        text-align: left;
    }
</style>

<div
    class="mb-5 mx-auto p-3 w-75"
    style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px"
>
    <h3 class="my-3">My Campaigns</h3>
    <table class="table table-hover w-100 text-center">
        <tr class="col-md-12">
            <th>Title</th>
            <th>Budget</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Description</th>
        </tr>

        <!-- For loop -->
        {% for contract in contracts %}
        <tr class="col-md-12">
            <td>{{contract.title}}</td>
            <td>{{contract.budget}}</td>
            <td>{{contract.start_date.strftime('%d-%m-%Y')}}</td>
            <td>{{contract.end_date.strftime('%d-%m-%Y')}}</td>
            <td style="max-width: 600px">{{contract.description}}</td>
            <td></td>
        </tr>

        {% endfor %}
    </table>
</div>

<div
    class="mb-5 mx-auto p-3 w-75"
    style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px"
>
    <h3 class="my-3">My Requests</h3>
    <table class="table table-hover w-100 text-center">
        <tr class="col-md-12">
            <th>Title</th>
            <th>Budget</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Description</th>
        </tr>

        <!-- For loop -->
        {% for contract in reqs %}
        <tr class="col-md-12">
            <td>{{contract.title}}</td>
            <td>{{contract.budget}}</td>
            <td>{{contract.start_date.strftime('%d-%m-%Y')}}</td>
            <td>{{contract.end_date.strftime('%d-%m-%Y')}}</td>
            <td style="max-width: 600px">{{contract.description}}</td>
            <td class="" style="text-align: right !important">
                <a href="{{ url_for('delete_request', campaign_id=contract.campaign_id, influencer_id=contract.influencer_id ) }}">
                    <button class="btn btn-sm btn-danger">Delete</button>
                </a>
            </td>
        </tr>

        {% endfor %}
    </table>
</div>

{% endblock %}
