{% extends 'base.html' %} {% block blog %}
<section class="container py-5">
    <div class="container pe-xl-0 ps-xl-0">
        <h1
            class="fw-bold text-center ps-0 pb-0 mb-0 ps-md-0 pe-lg-0"
            style="font-size: 40px; text-align: center"
        >
            <img
                class="rounded-circle"
                style="
                    width: 16%;
                    aspect-ratio: 1;
                    margin: 10px;
                    object-fit: cover;
                "
                src="{{ image_file }}"
            />
            <br />
        </h1>
        <h1
            class="fw-bold text-center py-2 ps-0 pb-0 mb-0 ps-md-0 pe-lg-0"
            style="font-size: 40px; text-align: center"
        >
            <span
                style="
                    background: -webkit-linear-gradient(
                        45deg,
                        rgba(64, 93, 230, 1),
                        rgba(88, 81, 219, 1),
                        rgba(131, 58, 180, 1),
                        rgba(193, 53, 132, 1),
                        rgba(225, 48, 108, 1),
                        rgba(253, 29, 29, 1)
                    );
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                "
            >
                {{ sponsor.sponsor_name }}
            </span>
        </h1>
		<p><span class="badge bg-success fs-6">{{user.email}}</span></p>
        
        <br />
        <div class="d-flex w-75 my-3 justify-content-around"> 
			<div class="m-1">
				<div class="mb-2">
					<label class="text-muted">
						Website
					</label>
					<p class="display-6"><a href="http://{{sponsor.website}}" target="_blank">{{sponsor.website[0:10]}}</a></p>
				</div>
			</div>
			<div class="m-1">
				<div class="mb-2">
					<label class="text-muted">
						Industry
					</label>
					<p class="display-6">{{sponsor.industry}}</p>
				</div>
			</div>
			<div class="m-1">
				<div class="mb-2">
					<label class="text-muted">
						Market Valuation
					</label>
					<p class="display-6">{{sponsor.market_valuation}}</p>
				</div>
			</div>
        </div>
		<blockquote
                class="blockquote text-center"
                style="
                    color: auto;
                    max-width: 60%;
                    border-radius: 25px;
                    padding: 24px;
                    text-shadow: #ffffff 1px 0px 20px;
                "
            >
                <i> {{ sponsor.bio }} </i>
        </blockquote>
        
    </div>
</section>
{% endblock %}
